//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 19 14:36:59 2015
//! **************************************************************************

SCHEMATIC START;
NET
        "mcs_0/U0/microblaze_I/MicroBlaze_Core_I/Area.Data_Flow_I/PC_Module_I/Using_FPGA.pc_write_I"
        USELOWSKEWLINES;
COMP "TRD2_NP2B" LOCATE = SITE "R7" LEVEL 1;
COMP "CC_NB2P" LOCATE = SITE "L5" LEVEL 1;
COMP "A0_NB2P" LOCATE = SITE "N6" LEVEL 1;
COMP "P2PLAY_NP2B" LOCATE = SITE "T16" LEVEL 1;
COMP "P1SEL1_NP2B" LOCATE = SITE "V7" LEVEL 1;
COMP "CLOCK_NP2B" LOCATE = SITE "E3" LEVEL 1;
COMP "RD2_NB2P" LOCATE = SITE "U7" LEVEL 1;
COMP "CG_NB2P" LOCATE = SITE "L6" LEVEL 1;
COMP "A4_NB2P" LOCATE = SITE "N2" LEVEL 1;
COMP "P1ADD_NP2B" LOCATE = SITE "U9" LEVEL 1;
COMP "TRD1_NP2B" LOCATE = SITE "U8" LEVEL 1;
COMP "CB_NB2P" LOCATE = SITE "N1" LEVEL 1;
COMP "ADD_NB2P" LOCATE = SITE "T6" LEVEL 1;
COMP "P1SEL2_NP2B" LOCATE = SITE "V6" LEVEL 1;
COMP "RD1_NB2P" LOCATE = SITE "T4" LEVEL 1;
COMP "CF_NB2P" LOCATE = SITE "M2" LEVEL 1;
COMP "A3_NB2P" LOCATE = SITE "N5" LEVEL 1;
COMP "STR2_NB2P" LOCATE = SITE "R8" LEVEL 1;
COMP "RESET_NP2B" LOCATE = SITE "E16" LEVEL 1;
COMP "P1PLAY_NP2B" LOCATE = SITE "R10" LEVEL 1;
COMP "CA_NB2P" LOCATE = SITE "L3" LEVEL 1;
COMP "A7_NB2P" LOCATE = SITE "M1" LEVEL 1;
COMP "RD0_NB2P" LOCATE = SITE "T5" LEVEL 1;
COMP "CE_NB2P" LOCATE = SITE "K3" LEVEL 1;
COMP "A2_NB2P" LOCATE = SITE "M3" LEVEL 1;
COMP "STR1_NB2P" LOCATE = SITE "V9" LEVEL 1;
COMP "UART_RX" LOCATE = SITE "C4" LEVEL 1;
COMP "UART_TX" LOCATE = SITE "D4" LEVEL 1;
COMP "P1SEL0_NP2B" LOCATE = SITE "R5" LEVEL 1;
COMP "A6_NB2P" LOCATE = SITE "L1" LEVEL 1;
COMP "TRD3_NP2B" LOCATE = SITE "R6" LEVEL 1;
COMP "CD_NB2P" LOCATE = SITE "L4" LEVEL 1;
COMP "A1_NB2P" LOCATE = SITE "M6" LEVEL 1;
COMP "SHPTS_NP2B" LOCATE = SITE "F15" LEVEL 1;
COMP "STR0_NB2P" LOCATE = SITE "T8" LEVEL 1;
COMP "RD3_NB2P" LOCATE = SITE "U6" LEVEL 1;
COMP "P1SEL3_NP2B" LOCATE = SITE "V5" LEVEL 1;
COMP "A5_NB2P" LOCATE = SITE "N4" LEVEL 1;
SCHEMATIC END;

