//! **************************************************************************
// Written by: Map P.20131013 on Thu Jul 23 16:10:32 2015
//! **************************************************************************

SCHEMATIC START;
COMP "TRD2_NP2B" LOCATE = SITE "M13" LEVEL 1;
COMP "CC_NB2P" LOCATE = SITE "K16" LEVEL 1;
COMP "A0_NB2P" LOCATE = SITE "J17" LEVEL 1;
COMP "P2PLAY_NP2B" LOCATE = SITE "P17" LEVEL 1;
COMP "P1SEL1_NP2B" LOCATE = SITE "T18" LEVEL 1;
COMP "CLOCK_NP2B" LOCATE = SITE "E3" LEVEL 1;
COMP "RD2_NB2P" LOCATE = SITE "U17" LEVEL 1;
COMP "CG_NB2P" LOCATE = SITE "L18" LEVEL 1;
COMP "A4_NB2P" LOCATE = SITE "P14" LEVEL 1;
COMP "P1ADD_NP2B" LOCATE = SITE "J15" LEVEL 1;
COMP "TRD1_NP2B" LOCATE = SITE "L16" LEVEL 1;
COMP "CB_NB2P" LOCATE = SITE "R10" LEVEL 1;
COMP "ADD_NB2P" LOCATE = SITE "N14" LEVEL 1;
COMP "P1SEL2_NP2B" LOCATE = SITE "U18" LEVEL 1;
COMP "RD1_NB2P" LOCATE = SITE "V17" LEVEL 1;
COMP "CF_NB2P" LOCATE = SITE "T11" LEVEL 1;
COMP "A3_NB2P" LOCATE = SITE "J14" LEVEL 1;
COMP "STR2_NB2P" LOCATE = SITE "J13" LEVEL 1;
COMP "RESET_NP2B" LOCATE = SITE "N17" LEVEL 1;
COMP "P1PLAY_NP2B" LOCATE = SITE "M17" LEVEL 1;
COMP "CA_NB2P" LOCATE = SITE "T10" LEVEL 1;
COMP "A7_NB2P" LOCATE = SITE "U13" LEVEL 1;
COMP "RD0_NB2P" LOCATE = SITE "R18" LEVEL 1;
COMP "CE_NB2P" LOCATE = SITE "P15" LEVEL 1;
COMP "A2_NB2P" LOCATE = SITE "T9" LEVEL 1;
COMP "STR1_NB2P" LOCATE = SITE "K15" LEVEL 1;
COMP "P1SEL0_NP2B" LOCATE = SITE "R17" LEVEL 1;
COMP "A6_NB2P" LOCATE = SITE "K2" LEVEL 1;
COMP "TRD3_NP2B" LOCATE = SITE "R15" LEVEL 1;
COMP "CD_NB2P" LOCATE = SITE "K13" LEVEL 1;
COMP "A1_NB2P" LOCATE = SITE "J18" LEVEL 1;
COMP "SHPTS_NP2B" LOCATE = SITE "M18" LEVEL 1;
COMP "STR0_NB2P" LOCATE = SITE "H17" LEVEL 1;
COMP "RD3_NB2P" LOCATE = SITE "U16" LEVEL 1;
COMP "P1SEL3_NP2B" LOCATE = SITE "R13" LEVEL 1;
COMP "A5_NB2P" LOCATE = SITE "T14" LEVEL 1;
SCHEMATIC END;

